﻿@{ ViewData["Title"] = "Reports"; }

<form id="frm">
    <div class="form-group">
        <label for="from">From</label>
        <input type="text" id="from" name="from" required="required" />

        <label for="to">to</label>
        <input type="text" id="to" name="to" required="required" />
    </div>
    <button type="button" id="generate" class="btn btn-primary">Generate</button>
    @{ Html.RenderPartial("_Loader"); }
</form>

@{ Html.RenderPartial("_Alert", "Sin resultados"); }

<center id="report" style="display: none; margin-top: 20px;">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Temp</th>
            </tr>
        </thead>
        <tbody id="body"></tbody>
    </table>
</center>

@section Scripts {
    <script src="/js/report-form.js"></script>
}