﻿@{ ViewData["Title"] = "LogIn"; }

@{ Html.RenderPartial("_Alert", "Password is incorrect or email does not exists"); }

<form id="frm">
    <div class="form-group">
        <label for="email">Username</label>
        <input type="text" class="form-control" name="username" id="username" required="required" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password" required="required" />
    </div>
    <button type="button" id="login" class="btn btn-primary">LogIn</button>
    @{ Html.RenderPartial("_Loader"); }
</form>

@section Scripts {
    <script src="/js/authentication-login.js"></script>
}